{% extends 'tenants/tenants_base.html' %}
{% load static %}
{% block title %}Usuários do Tenant{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'tenants/css/tenants_list.css' %}">
{% endblock %}

{% block content %}
  <div class="wrap">
    <header class="page-header">
      <div class="title-block">
        <h1>Lista de Tenants</h1>
        <p class="subtitle">Gerencie domínios, logos e informações dos tenants</p>
      </div>

      <div class="actions">
        <a href="{% url 'tenant_create' %}" class="btn btn-primary">+ Criar Tenant</a>
      </div>
    </header>

    <div class="card">
      <div class="table-wrap">
        <table class="tasks-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>Domínio</th>
              <th>Logo</th>
              <th>Paleta de Cores</th>
              <th>Criado em</th>
              <th class="center">Ações</th>
            </tr>
          </thead>

          <tbody>
            {% for tenant in tenants %}
            <tr>
              <td>{{ tenant.tenant_id }}</td>
              <td>{{ tenant.nome }}</td>
              <td>{{ tenant.dominio }}</td>
              <td>
                {% if tenant.logo_url %}
                  <img src="{{ tenant.logo_url.url }}" alt="Logo" width="50" style="border-radius: 8px; height: auto;">
                {% else %}
                  <span class="muted">Sem logo</span>
                {% endif %}
              </td>
              <td>{{ tenant.paleta_de_cores }}</td>
              <td>{{ tenant.criado_em|date:"d/m/Y" }}</td>
              <td class="center">
                <div class="actions">
                  <a href="{% url 'tenant_edit' tenant.pk %}" class="btn btn-ghost">Editar</a>
                  <a href="{% url 'tenant_delete' tenant.pk %}" class="btn btn-ghost">Excluir</a>
                  <a href="{% url 'tenant_users' tenant.pk %}" class="btn btn-ghost">Users</a>
                </div>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="7" class="empty">Nenhum tenant cadastrado.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}