{% extends 'tenants/tenants_base.html' %}
{% load static %}
{% block title %}Usuários do Tenant{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/tenants_users.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
  <header class="page-header">
    <h1>Usuários do Tenant: <span>{{ tenant.nome }}</span></h1>

    <div class="btns">
      <a href="{% url 'tenant_list' %}" class="btn btn-ghost">← Voltar</a>
      <a href="{% url 'tenant_users_create' tenant.pk %}" class="btn btn-primary">+ Usuário</a>
    </div>
  </header>


    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Email</th>
          <th>Função</th>
          <th>Data de Nascimento</th>
          <th>Adicionado em</th>
          <th>Staff</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.pk }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.data_nascimento }}</td>
            <td>{{ user.date_joined }}</td>
            <td>{{ user.is_staff }}</td>
            <td class="actions">
                <a href="{% url 'tenant_users_edit' tenant.pk user.pk %}" class="btn btn-edit">Editar</a>
                <a href="{% url 'tenant_users_delete' tenant.pk user.pk %}" class="btn btn-delete">Excluir</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="9" class="empty">Nenhum usuário cadastrado neste Tenant</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}