{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Deletar Usuário</title>
    <link rel="stylesheet" href="{% static 'css/tenants_delete.css' %}">
</head>
<body>

<div class="container mt-4">
    <h2>Confirmar Exclusão</h2>
    <p>Tem certeza que deseja excluir o usuário <strong>{{ object.username }}</strong>?</p>

    <form method="post">
      {% csrf_token %}
      <a href="{% url 'tenant_users' object.tenant.pk %}" class="btn btn-ghost">Cancelar</a>
      <button type="submit" class="btn btn-danger">Excluir</button>
    </form>
</div>

</body>
</html>
