asgiref==3.9.2
certifi==2025.11.12
cffi==2.0.0
channels==4.3.2
channels-redis==4.3.0
charset-normalizer==3.4.4
cryptography==46.0.1
daphne==4.2.1
dj-database-url==2.2.0
Django==5.2.6
django-allauth==65.4.0
django-appconf==1.1.0
django-colorfield==0.14.0
django-cryptography==1.1
django-environ==0.12.0
django-fernet-fields==0.6
gunicorn==23.0.0
idna==3.11
packaging==25.0
pillow==11.3.0
psycopg2-binary==2.9.10
pycparser==2.23
PyJWT==2.10.1
redis==7.1.0
requests==2.32.5
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
asgiref
certifi
cffi
channels
channels-redis
charset-normalizer
cryptography
daphne
dj-database-url
Django
django-allauth
django-appconf
django-colorfield
django-cryptography
django-environ
django-fernet-fields
gunicorn
idna
packaging
pillow
psycopg2-binary
pycparser
PyJWT
redis
requests
sqlparse
typing_extensions
tzdata
urllib3
